{% load bootstrap5 %}
{% load static %}
{%bootstrap_css %}
{%bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            overflow: hidden;
        }
        body{
            background-image: url("{% static "cafe-10.jpg"%}");
            background-attachment: fixed;
            background-size:cover;
            overflow:scroll;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>
        {% block title %}{% endblock  %}
    </title>
</head>
<body>
    
<nav class="navbar navbar-expand-sm navbar-dark  " style="background-color:  #311c19" >
    <div class="container p-2">
      <a class="navbar-brand fs-4" href="{% url 'inicio' %}">Oh la lá</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item p-2">
                  <a class="nav-link active" href="{% url "inicio"  %}" aria-current="page">Inicio <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item dropdown p-2" >
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="{% url "producto" %}">Productos</a>
                      <a class="dropdown-item" href="{% url "hot" %}">Bebidas calientes</a>
                      <a class="dropdown-item" href="{% url "cold" %}">Bebidas frías</a>
                      <a class="dropdown-item" href="{% url "food" %}">Alimentos</a>
                  </div>
              </li>
              <li class="nav-item dropdown p-2" >
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eventos</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="{% url "eventos" %}">Eventos</a>
                    <a class="dropdown-item" href="{% url "producto" %}">Novedades</a>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{% url "galeria" %}">Galería</a>
              </li>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{% url "contacto" %}">Contacto</a>
              </li> 
              <li class="nav-item p-2">
                <a class="nav-link" href="{% url "register" %}">Registrarse</a>
            </li>
            
                {% if request.user.is_authenticated%}
                <li class="nav-item p-2">    
                <a style="color:white" class="nav-link"  href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                <li class="nav-item p-2">
                <a style="color:white" href="{% url "carro:ventas" %}" class="nav-link" >Bienvenid@{{user.username}}</a>
                </li>
               {% else %}
               <li class="nav-item p-2">
               <a style="color:white" class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>               
               </li>
               {% endif %}
            </li>                                
          </ul>            
      </div>
</div>
</nav>



{% block content %}{% endblock  %}

<footer class=" pt-4"  style=" background-color:   #311c19">
    <div class="container">
        <p class="text-center" style="background-color: #311c19; color:white">
            Copyright @Danna
        </p>
        <div class="row ">
            <div class= "col-4">
               <a href="{% url "nosotros"%}"> <p class="text-center text-secondary" >Sobre nosotros </p> </a>
               <a href=" {% url "contacto"%}" ><p class="text-center text-secondary">Contáctanos </p> </a>
            </div>
            <div class= "col-4">
                <a href="{% url "cafe" %}" ><p class="text-center text-secondary"> Preparación del café </p> </a>
                <a href="" > <p class="text-center text-secondary"> Ayuda</p> </a>
            </div>
        </div> 
    </div>
</footer>
{% if request.user.is_authenticated%}
<div style="position:fixed; z-index:100; left:30px; bottom:30px">
    <a href="{% url 'carro:registro' %}"><img src="{% static 'imagenes/cart2.svg' %}" style="     " width=100px></a>
</div>
{% endif%}
</body>
</html>
