<div class="row my-4">
    {% for producto in product_food %}
    <div class="col-4 ">
    <div class="card my-3 mx-2" >
        <img src="{{producto.imagen_P.url}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre_P}}</h5>
            <p class="card-text">{{producto.descripcion_P}}</p>
            <p class="card-text text-end"><small class="text-muted">${{producto.precio_P}}</small></p>
        </div>
        <div class="card-footer text center">
            <a href="#" class="btn btn-success">Agregar</a>
        </div>
    </div>
    </div>
    {% endfor %}
    <p class="text-end"><a class="btn border border-ligth px-3" style=" color:white" href="{% url "food" %}"> Ver más </a></p>
</div>