{% extends 'body.html' %}
{% load static %}
{% block title %}Galeria de Oh la lá{% endblock title %}
{% block content %}

<h1 class="text-center" style="color:white; padding:1.3em; font-family:san-serif">Nuestra galería de Oh la lá</h1>

<div class="row">
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/cafe-4.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-15.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/cafeteros.jpg" %}" width=100%>
</div><div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-8.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/CAFE-CAMPESINO.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-9.jpg" %}" width=100%>
</div><div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/colombia.png" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/colombia1.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/colombia3.jpg" %}" width=100%>
</div><div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-13.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/cosecha.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/lavado.jpg" %}" width=100%>
</div><div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/secado4.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-15.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-18.jpg" %}" width=100%>
</div><div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-19.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-20.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/cafe29.jpg" %}" width=100%>
</div><div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "cafe-21.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/cafe-1.jpg" %}" width=100%>
</div>
<div class="col-4" class="mx-auto w-10" >
    <img src=" {% static "imagenes/caficultor.jpg" %}" width=100%>
</div>
</div>

{% endblock content %}


